
<style>
   
</style>
<div class="deshboard">
    <h2><i class="fa fa-bar-chart"></i> Dashboard</h2>
</div>
<!--  -->
<div class="sidebar">
    <h4>Menu</h4>
    <a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-box"></i> Parcel
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/parcel-type"><i class="fa fa-plus"></i> Parcel Type</a></li>
        <li><a class="dropdown-item" routerLink="/add-parcel"><i class="fa fa-plus"></i> Add Parcel</a></li>
        <li><a class="dropdown-item" routerLink="/parcel-list"><i class="fa fa-list"></i> Parcel List</a></li>
        <li><a class="dropdown-item" routerLink="/branch"><i class="fa fa-briefcase" aria-hidden="true"></i> Branch</a></li>
        <li><a class="dropdown-item" routerLink="/parcel-type"><i class="fa fa-briefcase" aria-hidden="true"></i> Branch</a></li>
      </ul>
    </div>
    <a routerLink="/report"><i class="fa fa-file-alt"></i> Report</a>
    <a routerLink="/grid"><i class="fa fa-th"></i> Grid</a>
  </div>