

.section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .value_service{
    margin-left: -11%;
  }
  /* .icon-box {
    text-align: center;
  } */
  .icon-box {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .icon-box img {
    max-width: 50px;
    margin-bottom: 15px;
  }
  .working-process .icon-box {
    margin-bottom: 20px;
  }
  .recent-activities img {
    max-width: 50%;
    height: auto;
  }
  .working-process .icon-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .working-process .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .working-process .icon-box img {
    max-width: 80px;
    margin-bottom: 15px;
  }
  /* .section-title{
    margin-left: 100px;
  }
  .img-fluid {
    width: 60px; 
    height: 60px; 
  } */
  .img-fluid {
    width: 60px; 
    height: 60px; 
  }
  .col-md-6{
    margin-right: 10px; 
  }
  
  .working-process .icon-box h5 {
    margin-top: 10px;
    font-size: 18px;
    color: #051a3a;
    font-weight: 600;
  }